*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
section{
    background: radial-gradient(rgb(139, 195, 245),#1294b8);
}
.logo{

    color: #f2f2f2;
    /*margin-left: 160px;*/
    float: left;
    text-decoration: none;
    font-size: x-large;
    font-family: Arial Black;
    margin-top: 0;
    flex-grow: 4;
}
.social-media{
    float: right;
    flex-grow: 3;
    padding: 14px 16px;
}
.fa-brands{
    color: #f2f2f2;
    margin-left: 20px;
}
.topnav{
    display: flex;
    text-align: center;
}
.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.fa-brands:hover{
    color: rgb(212, 209, 209);
}
.topnav a:hover {
color: rgb(212, 209, 209);
}
.container{
    margin-left: 230px;
    width: 1150px;
    margin-top: 90px;
    display: flex;
}
.left{
    margin-top: 70px;
    justify-content: left;
    flex: 1;
}
.right{
   flex: 2;
   justify-content: right;
}
.intro{
    color: rgb(63, 62, 62);
    width: 300px;
    margin-bottom: 15px;
}
.h1_intro{
    margin-bottom: 15px;
    width: 300px;
    font-family: Arial;
    color: rgb(63, 62, 62);
}
input[type=search] {
    border: 1px solid #f8f5f5;
    padding: 10px 12px;
    border-radius: 18px;
    width: 330px;
}
form {
    background-color: #f8f5f5;
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid #f2f2f2;
    border-radius: 18px;
    margin: 0 0 30px;
  }
.subscribe {
    background-color: #2ca5f5;
    border: 1px solid #2ca5f5;
    margin-left: 3px;
    border-radius: 16px;
    width: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f8f5f5;
}
button[type="submit"]:hover {
    opacity: 1;
    color: #000000;
}
.Products-Featrues{
    padding: 40px;
    background-color: #f8f5f5;
    font-family: Arial;
    color: rgb(63, 62, 62);
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 30px;
}
.Products-Featrues>h3{
    display: flex;
    justify-content: center;
}
.Products-Featrues>p{
    color: #555;
    display: flex;
    justify-content: center;
}
.box {
    display: flex;
    margin: 30px;
    justify-content: space-between;
    gap: 10px;
}
.box-item {
    margin: 30px;
    padding: 25px;
    height: 250px;
    color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 18px;
    background: radial-gradient(rgb(139, 195, 245),#1294b8);
    flex: 1 1 auto;
    /*margin: 0 10px 0 10px;*/
    justify-content: center;
    text-align: center;
}
.info{
    padding-top: 0px;
    padding: 30px;
    background-color: #f8f5f5;
    font-family: Arial;
    color: rgb(63, 62, 62);
    margin-left: -20px;
    margin-right: -20px;

}
.out{
    margin-top: 150px;
    width: 1000px;
    height: 450px;
}
.h3-out{
    padding-top: 30px;
    color: rgb(10, 10, 10);
    font-size: 28px;
    margin-top: 35px;
    margin-right: 25px;
    margin-bottom: 25px;
    text-align: center;
    width: 600px;
    margin-left: 500px;
    font-family: Arial, Helvetica, sans-serif;
}
.p-out{
    padding-bottom: 10px;
    color: #555;
    font-size: 18px;
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 45px;
    text-align: center;
    width: 490px;
    margin: 25px;
    margin-left: 560px;
}
.flex{
    display: flex;
    background-color: #f8f5f5;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 100px;
}
.flex-box{
    flex: 1 1 auto;
    width: 350px;
    height: 250px;
    margin: 50px;
    margin-bottom: 90px;
}
.flex-h3{
    color: rgb(2, 2, 2);
    margin-left:60px;
    font-size: x-large;
}
.flex-p{
    color: #555;
    margin-left:50px;
    margin-bottom: 25px;
    font-size:13px;
}
.flex2-h3{
    color: rgb(2, 2, 2);
    margin-left:30px;
    font-size: large;
}
.flex2-p{
    color: #555;
    margin-left:50px;
    margin-bottom: 35px;
    font-size:14px;
}
.img{
    margin: 2%;
    width: 170px;
    height: 160px;
}
/*
.figcaption{
    filter: grayscale(100%);
   -webkit-filter: grayscale(100%);
   
}
figcaption:nth-of-type(even) {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
 }
.figure img{
    border-radius: 45%;
    transition: opacity 0.5s;
    display: block;
}
*/
.card{
    background: #f8f5f5;
    width: 170px;
    border-radius: 45%;
    overflow: hidden;
    transition: 0.5s;
}
.card-header{
    position: relative;
    height: 200px;
    overflow: hidden;
}
.card:hover{
    transform: translateY(-15px);
}
.card:hover .card-header img {
    transform: scale(1.1);
}
.card-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
    transition: 0.5s;
}
.card-header img:hover {
    filter: grayscale(0%);
}
.sc{
    height: 50px;
    width: 50px;
   
    position: absolute;
    top: 25%;
    left: -50px;
    align-items: center;
    transition: 0.5s;
}
.card:hover .sc{
    left:-4px;
}
.sc .fa-brands{
    border-radius: 50%;
    padding: 8px;
    background-color: #ffffff;
    color: rgb(8, 8, 8);
}
.back{
    background-image: url("/img/blog4.png");
     /* Set a specific height */
     min-height: 500px;
     /* Create the parallax scrolling effect */
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     /*filter: grayscale(1);*/
}
.parallax {
    margin: 0px;
    /* The image used */
    background-color: #000000;
    opacity: 0.5;
    min-height: 500px;
}
.demo{
    margin: 0; 
    display: grid;
    flex-direction: column;
    align-items: flex-start;
    width: 1000px;
    text-align: center;
    margin-left: 240px;
}
.demo>*:first-child {
    align-self: stretch;
}
.h3-demo{
    margin-top: 100px;
    padding-top: 30px;
    color: rgb(255, 255, 255);
    font-size: 28px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.p-demo{
    padding-bottom: 30px;
    color: rgb(240, 240, 240);
    font-size: 18px;
    text-align: center;
    margin: 20px;
}
.start{
    background: none;
    color: #f8f5f5;
    border: 1px solid #ffffff;
    border-radius: 3px;
    width: 100px;
    margin-left: 450px;
    text-align: center;
    padding: 5px;
    font-weight: bolder;
    transition: 0.5s;
}
.start:hover{
    cursor: pointer;
    font-weight: bold;
    transform: translateY(-10px);
    width: 100px;
    background: #f8f5f5;
    opacity: 10;
    color: #000000;
}
.blog{
    padding-top: 0px;
    padding: 30px;
    background-color: #f8f5f5;
    font-family: Arial;
    color: rgb(63, 62, 62);
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 50px;
    height: 750px;
}
.link{
    padding: 30px;
    color: #2184a0;
    text-decoration: none;
}
.link:hover { text-decoration: none; }
.cart-content{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.cart{
    background: #f2f2f2;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;*/
    transition: 0.5s;
}
.cart:hover{
    /*transform: translate(-15px);*/
    color: #000000;
}
.cart-header{
    position: relative;
    height: 200px;
}
.cart-header img{
    width: 100%;
    height: 100%;
    /*border-radius: 10px 10px 0 0;*/
    object-fit: cover;
    transition: 0.5s;
}
.cart-text{
    padding: 30px;
    padding-bottom: 10px;
}
.cart-text h1{
    font-size: 25px;
    margin-bottom: 10px;
    color: rgb(10, 10, 10);
}
.cart-text p{
    font-size: 14px;
    color: rgb(147, 147, 147);
}
.date{
    width: 100%;
    height: 100%;
    color: #f2f2f2;
    position: absolute;
    top: 0;
    top: 20%;
    left: 10%;
    align-items: center;
    transition: 0.3s;
    opacity: 0;
}
.postion{
    opacity: 0;
    top: 20%;
    left: 10%;
    position: absolute;

}
.date > *{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #f2f2f2;
    opacity: 1;

}
.cart:hover .date{
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.5;

}
.link-but{
    background-color: #f3f4f5;
    border: 1px solid #2ca5f5;
    margin-left: 3px;
    border-radius: 3px;
    width: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #2ca5f5;
    text-decoration: none;
    padding: 3px;
}
.sectionDivision{
    margin-top: 10px;
    padding-top: 20px;
    display: flex;
}
.sec1{
flex: 2;
padding-left: 200px;
}
.sec2{
flex: 3;
text-align: center;
}
.sec-flexbox{
    display: flex;
    gap: 25px;
}
.sec2 img{
    width: 350px;
    height: 250px;
}
.h1-sec{
    padding: 5px;
    justify-content: center;
    align-items: center;
}
.p-sec{
    padding: 5px;
    justify-content: center;
    align-items: center;
    color: #555;
    margin-bottom: 10px;
}
.h2-sec{
    color: #464444;
    padding: 5px;
    justify-content: center;
    align-items: center;
}
.crative{
    margin-top: 150px;
    width: 1250px;
    height: 500px;
}
.price-content{
    min-height: 50vh;
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 350px;
    width: 900px;
}
.price-card{
    border: 1px solid #f2f2f2;
    border-radius: 18px;
    flex: 1 1 auto;
    justify-content: center;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    height: 350px;
    position: relative;
    transition: 0.5s;
}
.price-flex{
    display: flex;
    gap: 10px;
}
.price-left{
    
   flex: 2;
   padding: 5px;
}
.price-right{
    flex: 1;
    padding: 10px;
}
.price-card>h2{
    color: #000000;
    font-size: large;
    padding: 10px;
}
.price-card>h1{
    position: relative;
    color: #1a1c94;
    font-size: xx-large;
    padding: 5px;
}
.price-left>p{
    padding: 10px;
    color: #000000;
    font-size: large;
}
.price-right>p{
    padding: 10px;
    color: #000000;
    font-size: large;
}
.month{
    position: absolute;
    bottom: 0;
    right: 55;
    color: #000000;
    font-size: large;
}
.price-card>a{
    position: absolute;
    bottom: 3%;
    left: 30%;
}
.sale{
    position: absolute;
    top: 0;
    right: -50;
    width: 50px;
    height: 50px;
    background-color: #5053ee;
    color: #f2f2f2;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    opacity: 0;
    transition: 0.5s;
}
.price-card:hover .sale{
    right: 0;
    opacity: 1;
}
.price-card:hover{
    transform: translateY(-15px);
}
.price-card:hover .link-but{
    background-color: #2ca5f5;
    color: #f8f5f5;
    font-weight: bold;
}
.footer-media .fa-brands{
    border: 1px solid #f8f8f8;
    border-radius: 50%;
    padding: 6px;
    color: rgb(253, 253, 253);
}
.footer{
    background-color: rgba(22, 22, 22, 0.87);
    min-height: 30vh;
    text-align: center;
    margin-top: 50px;
    
}
.footer-media{
    padding-top: 50px;
}
.footer-flex a{
text-decoration: none;
color: rgb(212, 209, 209);
}
.footer-flex{
    padding: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    color: rgb(212, 209, 209);
}
.foot-p{
    color: rgb(212, 209, 209);
    font-size: 14px;
}
#CLIENT{
    background-color: #f8f8f8;
    min-height: 50vh;
    text-align: center;
    color: #000000;
}
.list{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}
.list .fa-brands .fa-solid{
    border: 1px solid #201f1f;
    border-radius: 50%;
}
.list a{
    color: #201f1f;
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Lucida Sans';
}
.list a:hover{
    color: #154c8a;
}